* {
	box-sizing: border-box;
}

@font-face {
	font-family:'FontAwesome';
	src: url(../fonts/fontawesome-webfont.woff);
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: url(../images/featured-image-1@2x.jpg);
	box-shadow: inset 0 0 0 1000px rgba(29, 31, 42, 0.5);
}

header,
footer {
	background-color: #1E202B;
}

header {
	text-align: center;
}

footer {
	margin: 0 auto;
	min-height: 230px;
}

li {
	margin: 5px;
}

input {
	outline: none;
}

.pac-item {
	background-color: #6a6b76;
	color: white;
	border-top: 2px solid #454754;
}

.pac-container{
	border-radius: 20px;
	background-color: #6a6b76;
	color: white;
	border-top: #454754;
}

#loremIpsum {
	width: 90%;
	/*background-color: rgba(34, 33, 89, 0.38);*/
	color:white;
	margin: 0 auto;
	margin-top: 20px;
}


.info {
	padding-top: 40px;
	height: 226px;
}



.container-3,
.container-2 {
	display: flex;
	justify-content: flex-start;
}

.container-3 {
	padding-bottom: 20px;
}
.main-nav a:hover {
	color: #009AD8;
}

.main-nav a{
	transition: color 0.15s ease-in-out;
}

.main-nav {
	max-width: 30%;
	margin: 0 auto;
}

.logo {
	width: 70px;
	height: auto;
	object-fit: contain;
}

.row {
	flex: 1;
}

.company-header {
	padding: 10px;
	text-align: center;
	font-size: .52em;
}


.under-name {
	font-size: 0.65rem;
}

.name a,
.under-name a,
.main-nav a  {
	display: block;
	color: white;
	text-decoration: none;
}

#selecteda {
	color: #009AD8;
	border: solid;
	border-color: #009AD8;
	border-radius: 25px;
	border-width: 1px;
	padding: 2px 12px 0px 12px;
	display: inline-block;
}

.name a,
.under-name a{

}

.locationFinder {
	margin: 0 auto;
	text-align: center;
}


#locationInput,
#locationButton {
	color: white;
	border-radius: 25px;
	margin-top: 35px; 
	border: 0px;
}

#locationInput {
	margin-top: 35px;
	background-color:  #1E202B;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 95%;
	padding-left: 20px;
	height: 38px;
	padding-right: 88px;
}

#locationButton {
	background-color: #009AD8;
	/*background-image: url(../images/searchicon.png);*/
	filter: hue-rotate();
	font-size: .9rem;
	padding: 10px 20px 7px 20px;
	margin-left: -76px;
	color: white;
}









.weekDays {
	border-color: white;
	margin: 0 auto;
	text-align: center;
	color: white;
	display: none;
}

.container {
	padding-top: 30px;
	width: 75%;
	border-color: white;
	height: auto;
	overflow: hidden;
	/*width: auto;*/
}

.thead {
	height: 40px;
	padding-top: 11px;
	font-size: .9rem;
	color: #86888F;
	font-weight: bold;
	letter-spacing: 0;
}



.day {
	padding: 0;
}

#today-header  {
	padding-top: 11px;
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;

}

/* ================================= 
  Individual Styles
  ==================================== */

/*.col-lg-8 {
	margin-top: 30px;
}*/

/*.day {
	margin-right: 5px;
	margin-left: 5px;
}*/

#today-info {
	padding-top: 40px;
	padding-left: 20px;
	text-align: left;
}

#city-name {
	font-size: 1rem;
	font-weight: bold;
	color: #ADA9AF;
	text-align: left;
}

#today-temp {
	padding-top: 20px;
	font-color: #FFFFFF;
	font-size: 4rem; 
	font-weight: bold;
}

#today-main-img{
	padding-left: 25px;
	background-repeat: no-repeat;
	width: 100px;
	height: auto;
}

#umbrella img,
#wind img,
#compass img {
	width: 20px;
	height: 20px;

}

#umbrella span,
#wind span,
#compass span{
	font-size: .8rem;
	margin-right: 10px;
	color: #898B90;
	font-weight: bold;
}

.weather-icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	height: 50px;
	width: 50px;
}


.day-temp {
	text-align: center;
	display: block;
	font-size: 1.1rem;
	font-weight: 900;
}

.night-temp {
	display: block;
	padding-bottom: 47px;
}

.first-head {
	border-radius: 10px 0 0 0;
}

.first-info {
	border-radius: 0 0 0 10px;
}

.last-head {
	border-radius: 0 10px 0 0;
}

.last-info {
	border-radius: 0 0 10px 0;
}

.thead-odd {
	background-color: #2D303D;
}

.thead-even {
	background-color: #212531;
}

.weather-info-odd {
	background-color: #323544;
}

.weather-info-even {
	background-color: #262936 ;
}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}











/* ================================= 
  Media Queries
  ==================================== */

  @media (min-width: 769px) {

  	.container,
  	.company-header,
  	.main-nav{
  		display: flex;
  	}

  	.company-header {
  		justify-content: flex-start;
  	}

  	.main-nav {		
  		max-width: 100%;
  	}

  	.name {
  		margin-bottom: -3px;
  	}

  	.name,
  	.under-name {
  		text-align: left;
  	}

  	.company-name {
  		padding-left: 5px;
  		padding-top: 10px;
  	}

  	.container {
  		margin: 0 auto;
  		flex-direction: column;
  		align-items: center;
  		margin-top: 30px;
  		margin-bottom: 30px;
  		padding-top: 0px;
  		width: 70%;
  	}

  	.main-header,
  	.main-footer {
  		width: 100%;
  		margin: 0 auto;
  	}

  	.main-nav a {
  		/*padding: 20px;*/
  		padding: 5px 28px;
  		margin-right: 12px; 
  		margin-top: -10px;  
  	}

  	#locationInput,
  	#locationButton {
  		display: inline-block;
		margin-top: 35px; 
  	}

	#locationInput {
		background-color:  #1E202B;
		width: 90%;
		height: 43px;
		padding-right: 145px;

	}

	#locationButton {
		padding: 9px 22px 8px 22px;
		margin-left: -80px;
	}

}


  @media (min-width: 1025px) {

  	li {
  		margin: 0;
  	}

  	.container{
  		width: 89.5%;
  		max-width: 1449px;
  		flex-direction: row;
  		justify-content: space-between;
  	}

  	.main-nav {
  		margin: 0;
  	}

  	#selecteda {
  		padding: 4px 27px ;
  		display: block;
  		border-width: 1px;
  	}

  	#locationInput,
  	#locationButton {
		margin-top: 55px; 
		border-radius: 120px;
  	}

	#locationInput {
		
		background-color:  #1E202B;
		padding-bottom: 10px;
		width: 90%;
		height: 61px;
	}

	#locationButton {
		height: 53px;
		padding: 0 45px;
		padding-bottom: 0px;
		margin-top: 54px;
		padding-top: 2px;
		margin-left: -127px;
	}
